n8n-workflows/reverse-logistics.json
{
  "name": "Host AI Concierge — Logística reversa",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "reverse-logistics", "responseMode": "responseNode" },
      "id": "wh", "name": "Webhook reverse",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2, "position": [240, 300],
      "webhookId": "host-ai-concierge-reverse"
    },
    {
      "parameters": {
        "functionCode": "// Placeholder: integrar com ERP/Shopify aqui.\nconst orderId = $json.body.orderId;\nreturn [{ json: { orderId, trackingId: 'RL' + Date.now() } }];"
      },
      "id": "fn", "name": "Generate tracking",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1, "position": [460, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"ok\": true, \"trackingId\": \"{{$json.trackingId}}\" }" },
      "id": "ok", "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook reverse": { "main": [[{ "node": "Generate tracking", "type": "main", "index": 0 }]] },
    "Generate tracking": { "main": [[{ "node": "OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
